


  


<section class="features17 cid-qFVFvU3cg4" id="features17-1h">
    
    

    
    <div class="container-fluid" >
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 my-col" ng-repeat="item in artists | limitTo :5">
              <a href="#/details/{{artists.indexOf(item)}}">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img ng-src="images/{{item.shortname}}_tn.jpg" alt="hello">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7"><span>{{item.name}}</span></h4>
                        <p class="mbr-text mbr-fonts-style display-7"><span>{{item.reknown}}</span></p>
                    </div>
                </div>
                </a>
            </div>
            
        </div>
    </div>
</section>

<section class="features17 cid-qFVFG5EVmm" id="features17-1i">
    
    

    
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 my-col" ng-repeat="item in artists | limitTo :5:5">
              <a href="#/details/{{artists.indexOf(item)}}">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img ng-src="images/{{item.shortname}}_tn.jpg" alt="hello">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            <span>{{item.name}}</span>
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <span>{{item.reknown}}</span>
                        </p>
                    </div>
                </div>
                </a>
            </div>

            
        </div>
    </div>
</section>

